<p id="notice"><%= notice %></p>

<h1>Registrations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to 'Show', tournament_registration_path(registration.tournament, registration) %></td>
        <td><%= link_to 'Edit', edit_tournament_registration_path(registration.tournament, registration) %></td>
        <td><%= link_to "delete", tournament_registration_path(registration.tournament, registration), :method => :delete, :confirm => "Are you sure?" %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_tournament_registration_path(params[:tournament_id]) %>
