<p id="notice"><%= notice %></p>

<h1>Anmeldungen</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Email</th>
      <th scope="col">Telefon</th>
      <th scope="col">Klassierung</th>
      <th scope="col">Klassierungswert</th>
      <th scope="col">Bemerkung</th>
      <th scope="col">Tableaux</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
       <td> <%=registration.first_name%></td>
       <td> <%=registration.name%></td>
       <td> <%=registration.email%></td>
       <td> <%=registration.phone%></td>
      <td> <%=registration.classing%></td>
      <td> <%=registration.classing_value%></td>
       <td> <%=registration.comment%></td>
       <td> 
       
          <ul>
            <%  for reg in registration.draw_registrations.select {|reg| reg.is_registered? } %>
            <li><%=reg.draw.title%></li> 
              <% if !reg.draw.is_single? %>
                  Partner: <%= reg.partner%>
              <%  end %>
            <%  end %>
          </ul>
        </td>
        <td><%= link_to "Löschen", tournament_registration_path(registration.tournament, registration), :method => :delete, :confirm => "Bist du sicher?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Anmeldung erstellen', new_tournament_registration_path(params[:tournament_id]) %>
