<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @tournament.title %>
</p>

<p>
  <strong>Spielplan verfuegbar datum:</strong>
  <%= @tournament.spielplan_verfuegbar_datum %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
