<!DOCTYPE html>
<html>
  <head>
    <title>Tournaments</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

 <body>

  <!-- Wrapper div for sticky footer. Do not render for homage as it would break carousel (see comment below). -->
  <% if !current_page?('/') %>
  <div id="wrap">
    <%end%>

    <nav class="navbar fixed-top navbar-dark bg-dark justify-content-between">
    <div class="container">
          <span class="navbar-brand mb-0 h1">ClubTournaments</span>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
        <li><%= link_to('Logout', logout_path, class: 'nav-link') %></li>
        <% else %>
        <li><%= link_to('Login', login_path, class: 'nav-link')  %></li>
        <% end %>
        </ul>
     </div>
  </nav>
    
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  
  <div id="footer">
    <div class="text-muted credit">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul>
              <li><%=link_to('About', about_path)%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<% if !current_page?('/') %>
</div>
<%end%>
</body>
</html>
